<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tracks</title>
</head>
<body>
    <div><h1>Spotify Stats</h1></div>
    <p>Your Top Tracks</p>
    <ol>
        {% for track in user_top_tracks %}
        <li>
            <img src="{{ track["album"]["images"][-1]["url"] }}" width="64" height="64" >
            {{ track["name"] }} by {% for artist in track["artists"] %} {{ artist["name"] }} {% endfor %}
        </li>
        {% endfor %}
    </ol>
</body>
</html>
